<footer>
    <div class="container">
        <div class="sitemap flex">
            <div class="sitemap-item left">
                <a class="logo">shop<span>.</span></a>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi, aliquid a eveniet magni laborum odit.
                </p>

                <p>
                    Got a question? Call us
                </p>
                <a class="phone" href="tel:+0123456789">
                    +0123 456 789
                </a>
            </div>

            <div class="sitemap-item">
                <h3 class="link-category">Information</h3>
                <ul>
                    <li class="link-item"><a>About us</a></li>
                    <li class="link-item"><a>Faq</a></li>
                    <li class="link-item"><a>Terms & Conditions</a></li>
                    <li class="link-item"><a>Contact us</a></li>
                    <li class="link-item"><a>Help</a></li>
                </ul>
            </div>

            <div class="sitemap-item">
                <h3 class="link-category">Customer Service</h3>
                <ul>
                    <li class="link-item"><a>Payment Methods</a></li>
                    <li class="link-item"><a>Money-back</a></li>
                    <li class="link-item"><a>Returns</a></li>
                    <li class="link-item"><a>Shipping</a></li>
                    <li class="link-item"><a>Privacy Policy</a></li>
                </ul>
            </div>

            <div class="sitemap-item get-in-touch">
                <h3 class="link-category">Get In Touch</h3>
                <div class="contact">
                    <p>ul. Marszałkowska 148</p>
                    <p>Warszawa, 00-510</p>
                    <a href="mailto:info@shop.com">
                        info@shop.com
                    </a>
                    <a href="tel:+0123456789">
                        +0123 456 789
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
