@import 'styles';

nav {
    padding: 20px;
    border-bottom: 1px solid $light-grey;

    .flex {
        align-items: center;
    }

    .logo {
        color:$dark-grey;
        font-size: 26px;
    }

    .searchbar {
        border: 1px solid $light-grey;
        border-radius: 3px;

        form {
            position:relative;
            width: 100%;

            input {
                width: 200px;
                padding: 10px;
                font-size: 16px;
                outline: none;  
                vertical-align: bottom;
            }
                
            button {
                margin-left:auto;
                padding: 10px;
                border: none;
                border-left: 1px solid $light-grey;
                background-color: transparent;
                cursor: pointer;

                .icon {
                    font-size: 16px;
                }

                :hover {
                    color: $primary-color;
                }
            }
        }
    }
    
    .right {
        min-width: 260px;
        justify-content: flex-end;
    }

    .bar-item {
        margin: 0 1.2rem;
        position: relative;
        padding: 10px;

        a {
            padding: 15px 10px;  
        } 

        .link {
            cursor: pointer;
            padding: 10px 0;
            border-bottom: 1px solid $light-grey;
            text-overflow:unset;
            a {
                color: #000000;
            }
        }

        :hover .icon{
            color: $primary-color;
        }

        :hover + .card  {
            display: block;
        }

        .card:hover {
            display: block;
        }
        
        .card {
            display: none;
            position: absolute;
            right: -30px;
            top: 40px;
            z-index: 100;            
        }
    }

    .login-link {
        font-size: 12px;
        cursor: pointer;
        margin: auto;

        :hover {
            text-decoration: underline;
        }
    }

}